<div *ngIf="book" class="book-container">
    <h1 class="book-title">{{ book.title | uppercase }}</h1>
    <h2 class="book-authors"><strong *ngIf="getAuthors()!=''">Authors:</strong>{{ getAuthors() }}</h2>
    <img *ngIf="book.coverImageUrl" [src]="book.coverImageUrl" alt="Cover" class="book-cover"
        (error)="onImageError($event)">
    <div *ngIf="!book.coverImageUrl" class="book-cover-not-found"></div>
    <p *ngIf="book.publishYear" class="book-publication-year"><strong>Publication Year:</strong> {{book.publishYear}}
    </p>
    <p *ngIf="rating" class="book-rating"><strong>Rating:</strong> {{rating | number:'1.0-1'}}</p>
    <p *ngIf="book.subjects" class="book-genres"><strong>Genres:</strong> {{ book.subjects.join(', ') }}</p>
    <p *ngIf="book.description" class="book-description"><strong>Synopsis:</strong> {{ book.description ||
        'No description.' }}</p>

</div>
<div *ngIf="errorMessage">{{errorMessage}}</div>