<div class="search-container">
  <mat-form-field appearance="fill">
    <mat-label>Search for books</mat-label>
    <input 
      matInput 
      [(ngModel)]="searchQuery" 
      [matAutocomplete]="auto"
      placeholder="Search for books" 
      (ngModelChange)="onSearch()"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let book of filteredBooks" [value]="book.title">
        {{ book.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

